services:
  api:
    image: optionskit-backend:dev
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    ports:
      - "8000:8000"
    env_file:
      - .env.local


